{% extends "layout.html" %}

{% block body %}
    <h1 class=" h-100 d-flex justify-content-center align-items-center">Register</h1>
    <div class=" h-100 d-flex justify-content-center align-items-center">
        <form action="" method="post">
            <p>
                {{form.firstName.label}}
                {{form.firstName(size=20)}}
            </p>
            <p>
                {{form.surname.label}}
                {{form.surname(size=20)}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </div>    
{% endblock %}